<html>

<head>
  <title>hello express</title>
</head>

<body>
  <script>
    var request = new XMLHttpRequest();
    var hostname = location.host;
    request.open('GET', '//' + hostname + '/api/current_time', true);
    request.onload = function () {
      var data = eval("(" + this.response + ")");
      document.write(data['current_time']);
    }
    request.send();
  </script>
</body>

</html>
